@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
  --color-accent: #400e03;
  --color-laccent: #591000;
  --color-cream: #f6ceaa;
  --color-cream-deep: #d69c75;
  --background-image-radial-gold: radial-gradient(
    circle at center,
    #ebc0a4 0%,
    #d19369 100%
  );
  --background-image-linear-text: linear-gradient(90deg, #400e03, #a62408);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-playfair: var(--font-playfair);
  --color-accent: var(--color-accent);
  --color-hover-accent: var(--color-laccent);
  --color-cream: var(--color-cream);
  --color-cream-deep: var(--color-cream-deep);
  --background-image-radial-gold: var(--background-image-radial-gold);
  --background-image-linear-text: var(--background-image-linear-text);
}

@layer utilities {
  .bg-radial {
    @apply bg-radial-gold;
  }
}


@layer components {
  body {
    @apply font-poppins;
  }
  main{
    @apply w-full overflow-x-hidden;
  }
}
